@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    max-height: 96vh;
    background-color: #d0aff7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
h1{
    color: #2d1f3d;
    font-size: 2.6em;
    margin-top: 50px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px  rgba(0, 0, 0, 0.541);
}
#calc{
    background-color: #2E2B33;
    width: 250px;
    height: 350px;
    margin: auto;
    margin-top: 30px;
    padding: 2px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.418);
}
#tela{
    background-color: #68636E;
    height: 60px;
    margin: 6px 2px 5px 2px;
    border: 2px solid black;
    color: white;
    border-radius: 15px;
}
#res{
    line-height: 55px;
    font-size: 2.5em;
}
.botoes{
    background-color: #7000ef00;
    height: 45px;
    margin: 4px;
    display: inline-flex;
}
.botaof{
    
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #6E21C5;
    margin: 4px 8px;
    padding: 0;
    border-radius: 50%;
}
.botao{
    
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #9137f7;
    margin: 4px 8px;
    padding: 0;
    border-radius: 50%;
}
.b{
    line-height: 45px;
}