@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 96vh;
    background-color: rgb(150, 192, 192);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    margin-top: 15px;
    margin-bottom: 30px;
}
#calc{
    background-color: #2E2B33;
    width: 250px;
    height: 350px;
    margin: auto;
    padding: 2px;
}
#tela{
    background-color: #68636E;
    height: 60px;
    margin: 2px 2px 5px 2px;
    border: 2px solid black;
    color: white;
}
#res{
    line-height: 55px;
    font-size: 2.5em;
}
.botoes{
    background-color: #7000ef00;
    height: 45px;
    margin: 4px;
    display: inline-flex;
}
.botaof{
    
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #6E21C5;
    margin: 4px 8px;
    padding: 0;
    border-radius: 50%;
}
.botao{
    
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #9137f7;
    margin: 4px 8px;
    padding: 0;
    border-radius: 50%;
}
.b{
    line-height: 45px;
}